<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userDao" class="com.ulsum.aop.dao.UserDao"/>
    <bean id="employeeDao" class="com.ulsum.aop.dao.EmployeeDao"/>
    <bean id="userService" class="com.ulsum.aop.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="employeeService" class="com.ulsum.aop.service.EmployeeService">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>

    <!-- AOP配置 -->
    <bean id="methodAspect" class="com.ulsum.aop.aspect.MethodAspect"></bean>
    <bean id="methodChecker" class="com.ulsum.aop.aspect.MethodChecker"></bean>
    <aop:config>
        <!-- PointCut切点，使用execution表达式描述切面的作用范围 -->
        <!-- execution(public * com.ulsum..*.*(..)) 说明切面作用在com.ulsum包下的所有类的所有方法上 -->
        <!--        <aop:pointcut id="pointcut" expression="execution(public * com.ulsum..*.*(..))"></aop:pointcut>-->
        <!-- 只对所有Service类生效（使用最多的） -->
        <aop:pointcut id="pointcut" expression="execution(* com.ulsum..*Service.*(..))"></aop:pointcut>
        <!-- 只对所有返回值为String类型方法生效 -->
        <!--        <aop:pointcut id="pointcut" expression="execution(String com.ulsum..*Service.*(..))"></aop:pointcut>-->
        <!-- 对方法名进行约束 -->
        <!--        <aop:pointcut id="pointcut" expression="execution(* com.ulsum..*Service.create*(..))"></aop:pointcut>-->
        <!-- 对参数进行约束 -->
        <!--        <aop:pointcut id="pointcut" expression="execution(* com.ulsum..*Service.*(String,*))"></aop:pointcut>-->
        <!-- 定义切面类 -->
        <aop:aspect ref="methodAspect">
            <!-- before通知(Advice)，代表在目标方法运行前先执行methodAspect.printExecutionTime() -->
            <aop:before method="printExecutionTime" pointcut-ref="pointcut"/>
            <aop:after method="doAfter" pointcut-ref="pointcut"/>
            <!-- returning属性代表方法的哪个参数去接收返回值 -->
            <aop:after-returning method="doAfterReturning" returning="ret" pointcut-ref="pointcut"/>
            <!-- throwing属性代表方法的哪个参数去接收异常 -->
            <aop:after-throwing method="doAfterThrowing" throwing="th" pointcut-ref="pointcut"/>
        </aop:aspect>

        <aop:aspect ref="methodChecker">
            <aop:around method="check" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>

</beans>
